body{
    background-color: beige;
    margin: 0;
}

header{
    background-color: rgb(189, 78, 4);
    color: aliceblue ;
    padding: 2rem 1rem;
    text-align: center;
}
.desplegable{ 
    color: black; 
    text-align: center;
    width: auto;
}
header h1{
    text-align: center;
    font-size: 3rem;
}
.contenedor{
    width: 400px;
    margin: 0 auto;
}
.titulo2{
    background-color: aliceblue;
}

section article {
    margin : 3rem 0;
    padding: 0.5rem 0;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}
section article:hover {
    box-shadow: 0.5rem 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
}

section article, section article p{
    margin: 0 auto;
    padding: 0.1rem;
    text-align: center;
}
.lolo{
    background-color: rgb(255, 132, 16);
    margin: 2px;
}
.Pasta {
    display: flex;
    width: 600px;
    height: 430px;
    background-color: rgb(248, 245, 227);

}
.Pasta img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5 ease;
}
.Pasta img:hover{
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
footer{
    background-color: rgb(104, 44, 4);
    color: aliceblue;
    padding: 1rem;
}
footer section{
    float: right;
}
footer p{
    margin: 0;
}
footer a{
    color: white;
    text-decoration: none;
    transition: color 1s ease;
}

footer a:hover {
    color: black;
}